# MongoDB Production Database Connection String
MONGODB_URI=mongodb+srv://penumatcha03_db_user:GBz0PQU5DBXCM4nr@grovastrasurveyform.yyadyo2.mongodb.net/grovastra?appName=GrovastraSurveyform
NEXT_PUBLIC_MONGODB_URI=mongodb+srv://penumatcha03_db_user:GBz0PQU5DBXCM4nr@grovastrasurveyform.yyadyo2.mongodb.net/grovastra?appName=GrovastraSurveyform
